@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  button,  [type='submit'] {
    background:
   
}
}
#root {
    height: 100%;
    width: 100%;
  }

body {
    font-family: ibm-plex-mono, sans-serif;
    color: #000000;
  }


  h1, h2, h3,h4,h5,h6 {
    font-family: 'Open Sans', sans-serif;
  }


  .authBG{
    background-image: url("https://res.cloudinary.com/mindcolony/image/upload/v1664477199/photo-1510906594845-bc082582c8cc_gonhcr.jpg")
  }
 


.ant-upload {
  width: 100% !important;
}